/* Megadropdown */

.pd-megadropdown {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 99;
  min-height: 0px;
}

.pd-megadropdown .pd-column,
.pd-megadropdown .row-fluid {
  min-height: 0;
}

.pd-dropdown-block {
  display: none;
}

.pd-dropdown-block.pd-show {
  display: block;
}

@media only screen and (min-width: 992px) {

  .header:not(.sticky) .pd-megadropdown-hide,
  .region-header:not(.sticky) .pd-megadropdown-hide {
    display: none;
  }
}
